absl-py==2.3.1
colorama==0.4.6
cssselect2==0.6.0
cycler==0.12.1
dill==0.4.0
ezdxf==0.14.2
fonttools==4.57.0
freetype-py==2.5.1
hsluv==5.0.4
kiwisolver==1.4.7
lxml==5.4.0
matplotlib==3.5.3
numpy==1.21.6
ortools==9.5.2237
packaging==25.0
pillow==10.4.0
protobuf==5.29.5
PyOpenGL==3.1.10
pyparsing==3.1.4
pypng==0.20220715.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pyserial==3.5
python-dateutil==2.9.0.post0
pywin32==311
qrcode==7.4.2
reportlab==3.6.13
Rtree==1.0.1
scipy==1.7.3
shapely==2.0.7
simplejson==3.20.2
six==1.17.0
svg.path==7.0
svglib==1.1.0
tinycss2==1.2.1
typing_extensions==4.13.2
vispy==0.9.0
webencodings==0.5.1
